/*header styling*/
header {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  background-color: black;
  position: relative;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  height: 100px;
}
#slogan {
  font-family: "Mr Dafoe", cursive;
  color: white;
  font-size: 30px;
  position: absolute;
  left: 0;
  margin-left: 40px;
}
.menu-header {
  position: absolute;
  right: 0;
  margin-right: 40px;
  top: 50%;
}
#navigation-menu-header {
  list-style-type: none;
  font-family: "Helvetica W01 Light";
  font-size: 20px;
  margin: 0;
  top: 70%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
#menu-item1 {
  display: inline-block;
  margin-left: 30px;
}
#header-button {
  color: white;
  border: none;
  background: none;
}
#header-button:hover {
  opacity: 0.5;
}
.container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 670px;
}

/*calculator styling*/
.calculator {
  width: 900px;
  position: relative;
  height: 650px;
  border-radius: 5px;
  display: grid;
  justify-content: center;
  background: white;
  box-shadow: 0 30px 60px 0 rgba(243, 114, 243, 0.4);
  border-top: 5px solid #f372f3;
}
.calculator-display {
  width: 850px;
  height: 150px;

  border-radius: 23px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 10px 10px 4px 0px rgba(0, 0, 0, 0.25) inset;
  background: #ebebeb;
}
.result {
  font-size: 50px;
  font-family: "Helvetica W01 Light";
  color: grey;
  width: 800px;
  height: 100px;
}

.options {
  width: 850px;
  height: 280px;
  display: grid;
  grid-template-columns: 425px 425px;
  grid-row: auto auto;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  justify-content: center;
  margin-bottom: 100px;

  .selection {
    border-radius: 23px;
    color: black;
    display: grid;
    background: #ebebeb;
    justify-content: center;

    text-align: center;
    font-size: 40px;
    font-family: "Helvetica W01 Light" sans-serif;
    box-shadow: 0 15px 10px -10px gray;
  }
}
.price-text {
  font-size: 14px;
  font-family: "Helvetica W01 Light";
}
.correction-box,
.length,
.type,
.complexity {
  width: 200px;
  height: 40px;
  border-radius: 23px;
  background-color: #d9d9d9;
  display: inline-flex;
  font-size: 20px;
  font-family: "Helvetica W01 Light";
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 5px;
  padding-left: 10px;
  margin-left: auto;
  margin-right: auto;
}
.correction-box {
  font-size: 15px;
}
.length {
  font-size: 15px;
}
.type,
.complexity {
  width: 150px;
}
.number-input {
  width: 60px;
  height: 25px;
  border-radius: 23px;
  border: none;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
#length-input {
  width: 60px;
  height: 25px;
  border-radius: 23px;
  border: none;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  
}
#length-input::placeholder{
  font-size: 11px;
}
#type {
  width: 80px;
  height: 25px;
  border-radius: 23px;
  border: none;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  font-size: 15px;
}

#type:hover {
  cursor: pointer;
}
.entry {
  display: block;
  min-width: 150px;
  border-radius: 2px;
  border: none;
  transition: all 0.5s ease 0s;
  border-radius: 23px;
}

.add-box,
.clear-button {
  width: 150px;
  height: 35px;
  border-radius: 23px;
  background-color: #f372f3;
  margin-bottom: 5px;
  border: none;
  font-size: 20px;
  font-family: "Helvetica W01 Light";
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.clear-button {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 50px;
  background-color: #f372f3;
  align-items: center;
  font-size: 35px;
}

.add-box:hover {
  cursor: pointer;
  width: 200px;
  box-shadow: 15px 15px 15px 5px rgba(243, 114, 243, 0.219);
  transform: translateY(-3px);
  border-top: 5px solid #f372f3;
  border-radius: 12px;
  opacity: 0.7;
}
.clear-button:hover {
  cursor: pointer;
  width: 90%;
  box-shadow: 15px 15px 15px 5px rgba(243, 114, 243, 0.219);
  transform: translateY(-3px);
  border-top: 5px solid #f372f3;
  border-radius: 12px;
  opacity: 0.7;
}

.add-box:active,
.clear-button:active {
  background-color: #f972f9;

  transform: translateY(4px);
}
.parameters {
  display: inline-flex;
  gap: 10px;
  width: 100%;
  height: 50px;
}

.alert {
  padding: 20px;
  background-color: red;
  color: white;
  margin-bottom: 15px;
  width: 800px;
  margin: 0 auto;
  display: none;
  border-radius: 10px;
  font-family: "Helvetica W01 Light";
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}
.closebtn:hover {
  color: black;
}
body {
  background: linear-gradient(black 10%, white 90%);
  display: grid;
}
/*footer styling*/
.footer-text {
  margin-left: 40px;
}
footer {
  background-color: #d9d9d9;
  position: relative;
  height: 250px;
}

#navigation-menu {
  list-style-type: none;
  font-family: "Helvetica W01 Light";
  color: black;
  font-size: 25px;
  padding-left: 90px;
  float: left;
  margin: 0;
  position: absolute;
  top: 57%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
#navigation,
#resources,
#contact-list,
#social-media-list {
  text-decoration: underline #f372f3;
}

.resources {
  display: inline-flex;
}

#resources-menu {
  list-style-type: none;
  font-family: "Helvetica W01 Light";
  color: black;
  font-size: 25px;
  position: absolute;
  left: 20%;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
#contact-menu {
  list-style-type: none;
  font-family: "Helvetica W01 Light";
  color: black;
  font-size: 25px;
  position: absolute;
  left: 40%;
  top: 20%;
}

#stay-in-touch {
  list-style-type: none;
  font-family: "Helvetica W01 Light";
  color: black;
  font-size: 25px;
  position: absolute;
  left: 70%;
  top: 20%;
}
#menu-item:not(#facebook-icon) {
  display: inline-block;
  margin-left: 10px;
}
#facebook-icon {
  display: inline-block;
}
#social-media-list {
  margin-bottom: 7px;
}
.footer-button {
  border: none;
  background: none;
}
.footer-button:hover {
  opacity: 0.5;
}
.mobile-footer {
  display: none;
}
@media only screen and (max-width: 1023px) {
  .add-box:hover {
    cursor: pointer;
    width: 100px;
    box-shadow: 15px 15px 15px 5px rgba(243, 114, 243, 0.219);
    transform: translateY(-3px);
    border-top: 5px solid #f372f3;
    border-radius: 12px;
    opacity: 0.7;
  }
  .calculator-display{
    width: 350px;
    height: 75px;
    border-radius: 23px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
  }
  .price-text{
    font-size: 8px;
  }
  .calculator{
    width: 370px;
    height: 400px;
  }
  .options {
    width: 350px;
    height: 100px;
    display: grid;
    grid-template-columns: 175px 175px;
    grid-row: auto auto;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    justify-content: center;
    margin-bottom: 50px;
  
    .selection {
      border-radius: 23px;
      color: black;
      display: grid;
      background: #ebebeb;
      justify-content: center;
  
      text-align: center;
      font-size: 20px;
      font-family: "Helvetica W01 Light" sans-serif;
      box-shadow: 0 15px 10px -10px gray;
    }
  }
  .clear-button {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 35px;
    background-color: #f372f3;
    align-items: center;
    font-size: 20px;
    margin-top: 90px;
  
  }
  .correction-box,
.length,
.type,
.complexity {
  width: 80px;
  height: 20px;
  border-radius: 23px;
  background-color: #d9d9d9;
  display: inline-flex;
  font-size: 10px;
  font-family: "Helvetica W01 Light";
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 5px;
  padding-left: 10px;
  margin-left: auto;
  margin-right: auto;
}
.correction-box {
  font-size: 7px;
}
.length {
  font-size: 7px;
}
.type,
.complexity {
  width: 80px;
}
.number-input {
  width: 30px;
  height: 12px;
  border-radius: 23px;
  border: none;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
#length-input {
  width: 30px;
  height: 12px;
  border-radius: 23px;
  border: none;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  
}
#length-input::placeholder{
  font-size: 8px;
}
#type {
  width: 40px;
  height: 12px;
  border-radius: 23px;
  border: none;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  font-size: 10px;
}
.add-box,
.clear-button {
  width: 80px;
  height: 20px;
  border-radius: 23px;
  background-color: #f372f3;
  margin-bottom: 5px;
  border: none;
  font-size: 13px;
  font-family: "Helvetica W01 Light";
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.container{
  width: 100%;
  height: 730px;
}
  /*header mobile styles*/
  header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  #slogan{
    display: none;
    position: relative;
  }
  #navigation-menu-header {
    list-style-type: none;
    font-family: "Helvetica W01 Light";
    margin: 0;
    top: 10%;
    display: inline-flex;
   
  }
  .menu-header{
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-right: 55px;
    
  }
  #menu-item1 {
    margin-left: none;
    
  }

  #header-button{
    text-decoration: underline #f372f3;
    color: white;
   
    font-size: 15px;
    height: 40px;

  }
 
  /*footer mobile styles*/
  footer{
    display: none;
   
  }
  .mobile-footer{
    display: block;
    display: inline-flex;
    background-color: #d9d9d9;
    width: 100%;
    height: 200px;
    font-family: Arial, Helvetica, sans-serif
  }
  .mobile-resources-list{
    justify-content: center;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin-left: auto;
    margin-right: auto;
    
  }
  #mobile-resources{
    text-decoration: underline #f372f3;
  }
  .mobile-social-media{
    justify-content: center;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin-left: auto;
    margin-right: auto;
    
   
  }
  #footer-button-mobile{
    background: none;
    border: none;
  }
  #mobile-social-media-list{
    text-decoration: underline #f372f3;
  }
  #alert-message, #warning-message{
    width: 80%;
  }
  
  
}