#title,
#about,
#portfolio,
#contact,
#pricing {
  display: inline-block;
}

.title_bar {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  background-color: black;
  color: white;
  margin: 0 auto;
  width: 100%;
  height: 100px;
  max-height: 200px;
}

#title {
  text-align: left;
  font-family: "Bernoru", sans-serif;
  color: white;
  width: 34px;
  height: auto;
  padding-top: 20px;
  padding-left: 20px;
}

#about {
  text-align: right;
  padding-left: 1200px;
  font-family: "Helvetica W01 Light";
  font-size: 17px;
  color: white;
}
#portfolio {
  text-align: right;
  padding-left: 50px;
  font-family: "Helvetica W01 Light";
  font-size: 17px;
}

#contact {
  text-align: right;
  padding-left: 45px;
  font-family: "Helvetica W01 Light";
  font-size: 17px;
}

#pricing {
  text-align: right;
  padding-left: 45px;
  font-family: "Helvetica W01 Light";
  font-size: 17px;
}

#instagram,
#linkedin {
  padding-left: 30px;
  padding-bottom: 8px;
  width: 3%;
  height: auto;
}
#facebook {
  padding-left: 30px;
  padding-bottom: 8px;
  width: 4%;
  height: auto;
}

#about_button,
#portfolio_button,
#contact_button,
#pricing_button {
  background: none;
  border: none;
  color: white;
}

.projects {
  width: 100%;
  height: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo_page {
  background-image: url("Apple_logo_grey.svg.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40%;
  width: 100%;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  background: linear-gradient(black 20%, white 80%);
}
