#title,
#about,
#portfolio,
#contact,
#pricing {
  display: inline-block;
  position: relative;
}

.title_bar {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: black;
  color: white;
  margin: 0 auto;
  width: 100%;
  height: 100px;
  max-height: 200px;
}

#title {
  text-align: left;
  font-family: "Bernoru", sans-serif;
  color: white;
  width: 34px;
  height: auto;
  padding-top: 20px;
  padding-left: 20px;
}

#about {
  text-align: right;
  padding-left: 1200px;
  font-family: "Helvetica W01 Light";
  font-size: 17px;
  color: white;
}
#portfolio {
  text-align: right;
  padding-left: 50px;
  font-family: "Helvetica W01 Light";
  font-size: 17px;
}

#contact {
  text-align: right;
  padding-left: 45px;
  font-family: "Helvetica W01 Light";
  font-size: 17px;
}

#pricing {
  text-align: right;
  padding-left: 45px;
  font-family: "Helvetica W01 Light";
  font-size: 17px;
}

#instagram,
#linkedin {
  padding-left: 30px;
  padding-bottom: 8px;
  width: 3%;
  height: auto;
}
#facebook {
  padding-left: 30px;
  padding-bottom: 8px;
  width: 4%;
  height: auto;
}
#instagram:hover,
#linkedin:hover,
#facebook:hover {
  opacity: 0.5;
}
#about_button,
#portfolio_button,
#contact_button,
#pricing_button {
  background: none;
  border: none;
  color: white;
}
#about_button:hover,
#portfolio_button:hover,
#contact_button:hover,
#pricing_button:hover {
  color: grey;
}
.logo_page {
  background-image: url("Apple_logo_grey.svg.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40%;
  width: 100%;
  height: 950px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  background: linear-gradient(black 20%, white 80%);
}

.divider {
  border-top: 5px solid black;
  border-radius: 5px;
  width: 1800px;
  height: 5px;
  margin-bottom: 25px;
}

#my-work {
  font-family: "Bernoru", sans-serif;
  font-size: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.my-work {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.container {
  max-width: 1800px;
  width: 100%;
}

.slider-wrapper {
  position: relative;
}
.slider-wrapper .slide-button {
  position: absolute;
  top: 50%;
  outline: none;
  border: none;
  height: 50px;
  width: 50px;
  z-index: 5;
  color: #fff;
  display: flex;
  cursor: pointer;
  font-size: 2.2rem;
  background: #000;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transform: translateY(-50%);
}
.slider-wrapper .slide-button:hover {
  background: #404040;
}
.slider-wrapper .slide-button#prev-slide {
  left: -25px;
  display: none;
}
.slider-wrapper .slide-button#next-slide {
  right: -25px;
}
.slider-wrapper .image-list {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 18px;
  font-size: 0;
  list-style: none;
  margin-bottom: 30px;
  overflow-x: auto;
  scrollbar-width: none;
}
.slider-wrapper .image-list::-webkit-scrollbar {
  display: none;
}
.slider-wrapper .image-list .image-item {
  width: 325px;
  height: 400px;
  object-fit: cover;
}
.container .slider-scrollbar {
  height: 24px;
  width: 100%;
  display: flex;
  align-items: center;
}
.slider-scrollbar .scrollbar-track {
  background: #ccc;
  width: 100%;
  height: 2px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  position: relative;
}
.slider-scrollbar:hover .scrollbar-track {
  height: 4px;
}
.slider-scrollbar .scrollbar-thumb {
  position: absolute;
  background: #000;
  top: 0;
  bottom: 0;
  width: 50%;
  height: 100%;
  cursor: grab;
  border-radius: inherit;
}
.slider-scrollbar .scrollbar-thumb:active {
  cursor: grabbing;
  height: 8px;
  top: -2px;
}
.slider-scrollbar .scrollbar-thumb::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -10px;
  bottom: -10px;
}

.contact-page {
  height: 350px;
  width: 100%;
  display: grid;
  justify-content: center;
}
.contact-heading {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  height: 100px;
}
#contact-heading {
  font-family: "Bernoru", sans-serif;
  font-size: 40px;
}
.solid {
  border-top: 5px solid black;
  border-radius: 5px;
  width: 1800px;
  height: 200px;
  justify-content: center;
  align-items: center;
  display: grid;
  grid-auto-columns: repeat(3, 2fr);
}

#contact-form {
  padding-top: 15px;
  font-family: "Arial", sans-serif;
  font-size: 35px;
  text-align: center;
}
.contact-form-button {
  border: none;
  background: none;
}
.contact-form-button:hover {
  opacity: 0.5;
}
h3 {
  font-size: 12px;
  font-family: "Arial", sans-serif;
  text-align: center;
}
h3:not(#signature):hover {
  opacity: 0.5;
}
.privacy-policy {
  border: none;
  background: none;
  align-self: center;
  justify-self: center;
  width: 100px;
}
.cookies-policy {
  border: none;
  background: none;
  align-self: center;
  justify-self: center;
  width: 100px;
}
#signature {
  opacity: 0.5;
}
